In [70]:
import os

import pandas as pd
import numpy as np

In [60]:
def load_reader_data(filename):
    # Read data ignoring first 50 lines
    df = pd.read_csv(filename,skiprows=50,header=None,index_col=0,na_values=["       -"],encoding = 'latin1').T
    headers = [x[:-1] for x in df.columns]
    df.columns = headers
    df.dropna(inplace=True)
    df = df.astype(float)
    return df

In [86]:
df = load_reader_data('test_inLab02Results.csv')

In [114]:
df

      D05    E05
1   0.664  0.665
2   0.383  0.384
3   0.298  0.298
4   0.247  0.247
5   0.200  0.200
..    ...    ...
67  0.036  0.035
68  0.036  0.035
69  0.035  0.034
70  0.035  0.034
71  0.035  0.034

[71 rows x 2 columns]

In [112]:
def get_well_to_name():
    filename = '../Eve_Files/Eve_Files/translated_wellmap.tsv'
    df = pd.read_csv(filename,sep='\t',index_col=1)
    pr_wells = df.loc[(df['deck_pos'] == 4) | (df['deck_pos'] == 7)]
    return pr_wells['chem_name']

In [113]:
get_well_to_name()

Series([], Name: chem_name, dtype: object)